.Menu {
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
}

.Menu a,
.Menu a:visited {
  font-weight: 700;
  text-decoration: none;
  color: #211d13;
}

.Menu a:hover {
  color: #bf1500;
}

.MenuButton {
  display: none;
}

@media screen and (max-width: 992px) {
  .Menu {
    display: flex;
    flex-direction: column;
  }
  .MenuButton {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .Menu {
    flex-direction: column;
  }
  .MenuButton {
    display: block;
  }
}
