.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover .cardOverlay {
  display: block;
  box-sizing: initial;
  animation-duration: 0.5s;
  animation-name: slidein;
}
.cardOverlay {
  display: none;
  position: absolute;
  width: 29%;
  height: 18em;
  color: whitesmoke;
  background-color: #191919;
  opacity: 0.6;
  padding: 1em;
  justify-content: space-around;
  align-self: end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes slidein {
  from {
    margin-left: 0;
    width: 0;
  }
  to {
    margin-left: 0;
    width: 1/3;
  }
}

@media screen and (max-width: 992px) {
  .cardOverlay {
    width: 42%;
  }
  .card:hover .cardOverlay {
    animation-duration: 0.5s;
  }
}

@media screen and (max-width: 576px) {
  .cardOverlay {
    width: 90%;
  }
  .card:hover .cardOverlay {
    animation-duration: 0.5s;
  }
}
