.container {
  color: salmon;
  align-content: center;
}

header {
  background-color: #7efca0;
}

article {
  background-color: #a436f7;
}

/* grid - grid-template-columns in the 1fr fr stands for, add grid-gap for adding   */
