body {
  margin: 0.5em;
  background-color: #f9f9f7;
}

article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat();
  grid-gap: 1em;
}

.appHeader {
  margin-bottom: 1em;
}

h1.title {
  color: #bf1600;
  font-size: 6em;
  text-align: center;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 992px) {
  article {
    grid-template-columns: repeat(2, 1fr);
    white-space: nowrap;
  }
}

@media screen and (max-width: 576px) {
  article {
    grid-template-columns: repeat(1, 1fr);
    white-space: nowrap;
  }
}
