body {
  margin: 0.5em;
  background-color: #f9f9f7;
}
article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat();
  grid-gap: 1em;
}
.appHeader {
  margin-bottom: 1em;
}

@media screen and (max-width: 960px) {
  article {
    grid-template-columns: repeat(1, 1fr);
    white-space: nowrap;
  }
}
